<div class="brand-theme">Anti Nihilism Fashion Brand</div>
<div id="flash"><%= flash[:notice] %></div>
<div id="cxxsew-contents">
    <div class="article">
        
    </div>        
    <div class="table-name">
        <h1><%= @article.title %></h1>
        <%= image_tag @article.image.url, class:'new-image' %>
        <%= form_for(@article) do |form| %>
            <div class="edit-wrapper">
                <div class="tr edit-tr">
                    <div class="td edit-td">ID</div>
                    <div class="td edit-td"><%= @article.id %></div>
                </div>
                <div class="tr edit-tr">
                    <div class="td edit-td">TITLE</div>
                    <div class="td edit-td about-text"><%= form.text_area :title, class:"form", required: true %></div>
                </div>
                <div class="tr edit-tr">
                    <div class="td edit-td">IMAGE TITLE</div>
                    <div class="td edit-td about-text"><%= form.text_area :image_title, class:"form", required: true %></div>
                </div>
                <div class="tr edit-tr">
                    <div class="td edit-td">TEXT</div>
                    <div class="td edit-td about-text"><%= form.text_area :text, class:"form", required: true %></div>
                </div>
                <div class="tr edit-tr">
                    <div class="td edit-td">CATEGORY</div>
                    <div class="td edit-td">
                        <%= form.select :article_cat_id , @article_cat_id_list, { include_blank: true, selected: @article.article_cat_id }, {class: "form", required: true} %>
                    </div>
                </div>
                <div class="tr edit-tr">
                    <div class="td edit-td">IMAGE</div>
                    <div class="td edit-td" id="image-td">
                        <%= form.file_field :image, id:'img_file', accept:'image/*' %>
                        <div id="preview">
                            <p>--- Preview ---</p>
                            <%= image_tag @article.image.url, id:"preview-image", alt:"" %>
                        </div>
                    </div>
                </div>
                <%= form.submit "更新", class:"btn" %>
            </div>
        <% end %>
        <div class="btn" id="submit-btn"><a href="/admin">管理画面トップへ</a></div>
    </div>
</div>

<%= image_tag "/image/mid_main4.png", class:"footer-img", alt:"" %>