<div class="table-name">
    <h1>商品カテゴリー 一覧</h1>
    <% if @work_cats.empty? %>
        <p>商品カテゴリーが投稿されていません。</p>
        <div class="btn"><a href="/work_cats/new">新規作成</a></div>
    <% else %>
        <div class="btn"><a href="/work_cats/new">新規作成</a></div>
        <p>商品カテゴリー数合計: <%= @work_cats.length %></p>
        <p>←データ列が多い場合は横スクロール→</p>
        <div class="table-wrapper" id="scroll-table">
            <div class="tr">
                <div class="th scroll-th check">
                    <input type="checkbox" id="check-all">
                </div>
                <div class="th scroll-th id">ID</div>
                <div class="th scroll-th name">NAME</div>
            </div>
            <% @work_cats.each do |work_cat| %>
                <div class="tr">
                    <div class="td scroll-td check">
                        <input type="checkbox" class="delete-check">
                    </div>
                    <div class="td scroll-td id"><%= work_cat.id %></div>
                    <div class="td scroll-td name"><%= work_cat.name %></div>
                </div>
            <% end %>  
        </div>
    <% end %>

    <%= form_with url: '/delete' do |form| %>
        <%= form.hidden_field "delete_list", {value: ''} %>
        <%= form.hidden_field "which", {value: 'work_cat'} %>
        <%= form.submit "削除", class:"btn submit-btn", id:"delete-btn" %>
    <% end %>
    
    <div class="btn" id="submit-btn"><a href="/admin">管理画面トップへ</a></div>
</div>