<div class="brand-theme">Anti Nihilism Fashion Brand</div>
<%= image_tag "/image/mid_main3.png", class:"header-img", alt:"" %>

<div id="cxxsew-contents">
    <div class="article">
        <h1>- News -</h1>
        
        <p>ここでは、CxxSewに関する最新のニュースをご覧いただけます。</p>
    </div>
    
    <% if @news.empty? %>
        <p>まだニュースが投稿されていません。</p>
    <% else %>
        <div class="left" id="content">
        <% @news.each do |news| %>
            <div class="works">
                <div class="work">
                    <a href="/news/<%= news.id %>">
                        <%= image_tag news.image.url, alt:"" %>
                        <div>
                            <p class="date"><%= news.updated_at %></p>
                            <p><%= news.title %></p>
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
    <% end %>
    </div>
    
    
</div>

