<div class="brand-theme">Anti Nihilism Fashion Brand</div>

<div id="cxxsew-contents">
    <div class="news">
        
    </div>
    <div class="table-name">
        <h1>新規ニュースの作成</h1>
        <% if @news_cat.empty? %>
            <p>ニュースカテゴリーを先に作成してください。</p>
            <div class="btn" id="submit-btn"><a href="/admin">管理画面トップへ</a></div>
        <% else %>
            <div id="flash"><%= flash[:notice] %></div>
            <%= form_with model:@news do |form| %>
                <div class="edit-wrapper">
                    <div class="tr edit-tr">
                        <div class="td edit-td">TITLE</div>
                        <div class="td edit-td about-text"><%= form.text_area :title, class:"form", required: true %></div>
                    </div>
                    <div class="tr edit-tr">
                        <div class="td edit-td">TEXT</div>
                        <div class="td edit-td about-text"><%= form.text_area :text, class:"form", required: true %></div>
                    </div>
                    <div class="tr edit-tr">
                    <div class="td edit-td">CATEGORY</div>
                        <div class="td edit-td">
                            <%= form.select :news_cat_id , @news_cat_id_list, { include_blank: true, selected: '' }, {class: "form", required: true} %>
                        </div>
                    </div>
                    <div class="tr edit-tr">
                        <div class="td edit-td">IMAGE TITLE</div>
                        <div class="td edit-td about-text"><%= form.text_area :image_title, class:"form", required: true %></div>
                    </div>
                    <div class="tr edit-tr">
                        <div class="td edit-td">IMAGE</div>
                        <div class="td edit-td" id="image-td">
                            <%= form.file_field :image, id:'img_file', accept:'image/*', required: true %>
                            <div id="preview">
                                <p>--- Preview ---</p>
                                <%= image_tag "/image/noimage.jpg", id:"preview-image", alt:"" %>
                            </div>
                        </div>
                    </div>
                    <%= form.submit "作成", class:"btn" %>
                </div>
            <% end %>
        <div class="btn"><a href="/admin_view?which=news">一覧に戻る</a></div>
        <div class="btn" id="submit-btn"><a href="/admin">管理画面トップへ</a></div>
        <% end %>
    </div>
</div>

<%= image_tag "/image/mid_main4.png", class:"footer-img", alt:"" %>

<%= javascript_pack_tag 'image_up' %>