<div class="brand-theme">Anti Nihilism Fashion Brand</div>

<div id="cxxsew-contents">
    <p id="content-date"><%= @news.updated_at %></p>
    <h1 id="blog-title"><%= @news.title %>（Vol.<%= @news.id %>）</h1>
    
    
    <div class="work-box" id="content-box">
        <%= image_tag @news.image.url, class:"content-img", alt:"" %> 
        <div class="content-img-title">- <%= @news.image_title %> -</div>
        <p><%= @news.text %></p>
    </div>
    <div class="btn" id="submit-btn"><a href="/news">News一覧に戻る</a></div>
    
</div>


