<% if @relationships.count != 0 %>
    <% @relationships.each do |r| %>
        <div class="thumb-wrapper comment-wrapper followed-wrapper">
            <a href="/posted/<%= r.follower.id %>" class="followed-link">
                <div class="post-name-wrapper">
                    <%= image_tag r.follower.image.url, class:"sns-thumb", alt:"" %>
                    <p><%= r.follower.name %></p>
                    <p><%= r.follower.username %></p>
                </div>
            </a>
            <div class="follow-wrapper" id="followpage-follow-wrapper">
                <% if r.follower.id != current_user.id %>
                    <% if r.follower.followed_by?(current_user) %>
                        <% delete_id = r.follower.active_relationships.find_by(follower_id: current_user.id).id %>
                        <%= form_with model:@relationship, url: "/relationships/"+delete_id.to_s, local: false, method: :delete do |form| %>
                            <%= form.hidden_field :url, value: "/follower" %>
                            <%= form.submit "フォロー解除", class:"follow-btn" %>
                        <% end %>
                    <% else %>
                        <%= form_with model:@relationship, url: relationships_path, local: false, method: :post, scope: :relationship do |form| %>
                            <%= form.hidden_field :follower_id, value: current_user.id %>
                            <%= form.hidden_field :followed_id, value: r.follower.id %>
                            <%= form.hidden_field :url, value: "/follower" %>
                            <%= form.submit "フォロー", class:"follow-btn" %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
<% else %>
    <p>現在フォロワーはいません。</p>
    <%= image_tag "/image/wolf.png", class:"profile-thumb", id:"no-follow-thumb", alt:"" %>
<% end %>