<main>
    <div class="side-bar pc">
        <%= render 'sidebar' %>
    </div>

    <div class="contents" id="sns-contents">
        <div class="works sns-posts">
            <% @posts.each do |post| %>
                <div class="work sns-post">
                    <div class="thumb-wrapper">
                        <%= image_tag "/image/art.png", class:"sns-thumb", alt:"" %>
                        <p>Luffy</p>
                        <p>@kaizokuou</p>
                    </div>
                    <div class="follow-btn">フォロー</div>
                    <a href="/sns_show/<%= post.id %>">
                        <p><%= post.content %></p>
                        <% if post.image.to_s != 'noimage.jpg' %>
                            <%= image_tag post.image.url, class:"sns-post-img", alt:"", data: { url: "sns_show" } %>
                        <% end %>
                    </a>
                </div>
            <% end %>
        </div> 
    </div>
</main>

<%= javascript_pack_tag 'sns' %>