
<main>
    <div class="side-bar pc">
        <%= render 'social_media/sidebar' %>
    </div>

    <div class="contents" id="sns-contents">
        <div id="sns-container">
            <h1>基本情報</h1>
            <div id="posted-user-id"><%= @user.id %></div>
            <div id="profile-user-wrapper">
                <%= image_tag @user.image.url, class:"profile-thumb", alt:"" %>
                <table id="profile-table">
                    <tr>
                        <th>名前</th>
                        <td><%= @user.name %></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td><%= @user.username %></td>
                    </tr>
                    <tr>
                        <th>紹介文</th>
                        <td>
                            <% if @user.profile =! "" %>
                                <%= @user.profile %>
                            <% else %>
                                紹介文が登録されていません。
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="follow-wrapper" id="show-follow-wrapper">
                <%= render 'social_media/posted_relationships' %>
            </div>
            <div id="change-post-wrapper">
                <div id="change-post">
                    <%= form_with url: posted_path(@user.id), local: false do |form| %>
                        <%= form.hidden_field "post_cat", {value: 'posted'} %>
                        <%= form.submit "自分の投稿", class:'btn submit-btn sns-btn' %>
                    <% end %>
                    <%= form_with url: posted_path(@user.id), local: false do |form| %>
                        <%= form.hidden_field "post_cat", {value: 'liked'} %>
                        <%= form.submit "Likeした投稿", class:'btn submit-btn sns-btn' %>
                    <% end %>
                    <%= form_with url: posted_path(@user.id), local: false do |form| %>
                        <%= form.hidden_field "post_cat", {value: 'commented'} %>
                        <%= form.submit "コメントした投稿", class:'btn submit-btn sns-btn' %>
                    <% end %>
                </div>
                <div class="works sns-posts" id="posts-each-do">
                    <% if @posts.exists? %>
                        <%= render 'posts/posts' %>
                    <% else %>
                        <span id="not-yet-post">まだ投稿はありません。</span>
                    <% end %>
                </div>
                <div class="none" id="page-update"><%= paginate @posts, remote: true %></div>
                <div class="none" id="loading">
                    <div class="spinner"></div>
                </div>
            </div>

        </div>
    </div>
</main>

<script>
$('.sns-btn').first().attr('style', 'background-color: #fff !important; color: darkcyan;');

$(document).ready(function() {
    let currentURL = window.location.href.match(/\/post(.*)/)[0];
    let user_id = document.getElementById('posted-user-id').textContent;
    $('.relationship_url').val(currentURL + "/posted");

    let post_urls = document.getElementsByClassName("like-link");
    for(let i = 0; i < post_urls.length; i++){
        href = post_urls[i].getAttribute('href');
        newHref = href.replace('url=index', 'url=posted&user_id=' + user_id + '&post_cat=posted');
        post_urls[i].setAttribute('href', newHref);
    }
});

</script>
<%= javascript_include_tag 'loading' %>