<header id="study-header">
    <div id="logo"><a href="/studies"><%= image_tag "logo.jpg" %></a></div>
    
    <div class="link">
        <ul class="nav">
            <li class="japanese">
                <%= link_to '国語', {controller: 'studies', action:'japanese'} %>
            </li>
            <li class="math">
                <%= link_to '算数', {controller: 'studies', action:'math'} %>
            </li>
            <li class="social">
                <%= link_to '社会', {controller: 'studies', action:'social'} %>
            </li>
            <li class="science">
                <%= link_to '理科', {controller: 'studies', action:'science'} %>
            </li>
            <li class="english">
                <%= link_to '英語', {controller: 'studies', action:'english'} %>
            </li>
        </ul>
    </div>
    <div id="login">
        <button type="button" id="js-btn">
            <span class="btn-line"></span>
        </button>
        <% if logged_in? %>
            <a href="/collection"><div class="study-btn" id="collection_btn">学習記録</div></a>
            <%= link_to "ログアウト", logout_path, method: :delete, class:"study-btn", id:"login_btn" %>
        <% else %>
            <a href="/login"><div class="study-btn" id="login_btn">ログイン</div></a>
        <% end %>
    </div>
    
</header>
