<div class="link">
    <ul class="nav">
        <li class="japanese_kanji">
            <%= link_to '１年漢字', {controller: 'studies', action:'kanji1'}, class: 'changeGradeButton' %>
        </li>
        <li class="japanese_kanji">
            <%= link_to '２年漢字', {controller: 'studies', action:'kanji2'}, class: 'changeGradeButton' %>
        </li>
        <li class="japanese_kanji">
            <%= link_to '３年漢字', {controller: 'studies', action:'kanji3'}, class: 'changeGradeButton' %>
        </li>
        <li class="japanese_kanji">
            <%= link_to '４年漢字', {controller: 'studies', action:'kanji4'}, class: 'changeGradeButton' %>
        </li>
        <li class="japanese_kanji">
            <%= link_to '５年漢字', {controller: 'studies', action:'kanji5'}, class: 'changeGradeButton' %>
        </li>
        <li class="japanese_kanji">
            <%= link_to '６年漢字', {controller: 'studies', action:'kanji6'}, class: 'changeGradeButton' %>
        </li>
        
    </ul>
</div>