<div class="study-back">
    <div id="page_top"><a></a></div>
    <div id="title">漢字 読み方クイズ</div>

    <div class="study-contents">
        <%= render 'kanji_header' %>
        <%= image_tag "/image/card1.jpg", id:"card_image1" %>
        
        <% if logged_in? %>
            <p><ruby>合格<rt>ごうかく</rt></ruby>したらキャラクターカードがでてくるよ！<br>がんばってあつめよう！<br>↓<ruby>漢字<rt>かんじ</rt></ruby>をおしてね↓</p>
        <% else %>
            <p>ログインすると、どの<ruby>漢字<rt>かんじ</rt></ruby>に<ruby>合格<rt>ごうかく</rt></ruby>したかを<br><ruby>保存<rt>ほぞん</rt></ruby>できるよ！<br>↓<ruby>漢字<rt>かんじ</rt></ruby>をおしてね↓</p>
        <% end %>
        <hr>
        

        <% if logged_in? then %>
            <p class="dummy_data" value="user_id">
                <%= current_user.id %>
            </p>
            <p class="dummy_data" value="１年データ">
                <%= @correct_to_js[0] %>
            </p>
            <p class="dummy_data" value="２年データ">
                <%= @correct_to_js[1] %>
            </p>
            <p class="dummy_data" value="３年データ">
                <%= @correct_to_js[2] %>
            </p>
            <p class="dummy_data" value="４年データ">
                <%= @correct_to_js[3] %>
            </p>
            <p class="dummy_data" value="５年データ">
                <%= @correct_to_js[4] %>
            </p>
            <p class="dummy_data" value="６年データ">
                <%= @correct_to_js[5] %>
            </p>
        <% end %>
        <div id="which_grade"><%= @kanji_grade %></div>
        
        <p id="grade">小学校１年生の漢字</p>
        <div class="kanji_list">
            <button class="kanjis" type="button"></button>
        </div>

        <div id="hidden_block"></div>
        <div id="kanji_box"><a id="kanji"></a></div>
        <p id="on_yomi"></p>
        <p id="kun_yomi"></p>
        <hr>

        <div id="advice">↓[　]の<ruby>漢字<rt>かんじ</rt></ruby>の<ruby>読<rt>よ</rt></ruby>み<ruby>方<rt>かた</rt></ruby>をひらがなで<ruby>入力<rt>にゅうりょく</rt></ruby>しよう↓</div>
        <hr>
            <div class="quiz_clone">
                <p class="kanji-question"></p>
                <div class="how_to_read_container">
                    <div class="how_to_read_question">
                        <input class="how_to_read" type="text" value="" maxlength="10">
                        <p class="kanji-answer"></p>
                    </div>
                </div>
            </div>


            <div id="correct_message"></div>
            <button type="button" id="answerButton"><ruby>答<rt>こた</rt></ruby>え<ruby>合<rt>あ</rt></ruby>わせ</button>
        
        <% if logged_in? %>
            <div class="congratulations">おめでとう！カードをほぞんしよう</div>
            <div class="btn" id="registerButton"><a href="/studies/index">カードを<ruby>学習記録<rt>がくしゅうきろく</rt></ruby>に<ruby>保存<rt>ほぞん</rt></ruby>する</a></div>
        <% else %>
            <div class="congratulations">おめでとう！！</div>
        <% end %>
    
    <div class="popup" id="js-popup">
        <div class="popup-inner">
            <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
            <%= image_tag "/white.jpg", id:"image_file" %>
        </div>
        <div class="black-background" id="js-black-bg"></div>
    </div>
    <p id="pass_message">がんばったね！</p>
    <p id="char_name"></p>
    
    <% if logged_in? %>
        <div id="login_checker">true</div>
    <% else %>
        <div id="login_checker">false</div>
    <% end %>

    <%= javascript_pack_tag 'kanji'%>
    <%= javascript_pack_tag 'toggle'%>
    </div>
</div>