<main>
    <div class="contents" id="socket-con">
        <h1>IoT機器へのコマンド送信アプリ DEMO</h1>
        <p id="socket-con-exp">IoT機器側でTCPソケットの受信プログラムを書くことで、ブラウザからIoT機器を操作できるようになります。</p>

        <div id="data"></div>
        <div id="graphs">
            <div class="graph_item">
                <div>IoT機器のバッテリー残量</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の電圧</p><span>0</span>V</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器の基盤温度</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の基盤温度</p><span>0</span>℃</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の外気温</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の外気温</p><span>0</span>℃</div>
                </div>
            </div>
            <div class="graph_item">
                <div>Wi-Fi接続台数</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の接続台数</p><span>0</span>台</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の湿度</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の湿度</p><span>0</span>%RH</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の照度</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の照度</p><span>0</span>LX</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の気圧</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の気圧</p><span>0</span>hPa</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺のノイズ</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在のノイズ</p><span>0</span>dB</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の揮発性有機化合物濃度</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の揮発性有機化合物濃度</p><span>0</span>ppmC</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺のCO2濃度</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在のCO2濃度</p><span>0</span>ppm</div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の不快指数</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の不快指数</p><span>0</span></div>
                </div>
            </div>
            <div class="graph_item">
                <div>IoT機器周辺の熱中症警戒度</div>
                <div>
                    <canvas class="ex_chart"></canvas>
                    <div class="graph_value"><p>現在の熱中症警戒度</p><span>0</span></div>
                </div>
            </div>
        </div>

        <div class="panel_item_wrap">

            <div class="panel_item">
                <div class="panel_item_content">
                    <div class="panel_item_ttl">
                        <h2>LEDカラーの変更</h2>
                        <p>IoT機器のLEDのカラー変更が可能です。カラーコードを指定するとお好きなカラーを指定することができます。</p>
                    </div>
                    <div class="form_item">
                        <label>プリセットカラーから選択する</label>
                        <input type="color" class="preset_color" id="preset_red" value="#EF5658">
                        <input type="color" class="preset_color" id="preset_orange" value="#FF803C">
                        <input type="color" class="preset_color" id="preset_yellow" value="#FFDE2B">
                        <input type="color" class="preset_color" id="preset_green" value="#44D049">
                        <input type="color" class="preset_color" id="preset_skyblue" value="#6ABBEF">
                        <input type="color" class="preset_color" id="preset_blue" value="#3C76F7">
                        <input type="color" class="preset_color" id="preset_purple" value="#8556EF">
                        <input type="color" class="preset_color" id="preset_white" value="#F0F3F8">
                    </div>
                    <div class="form_item">
                        <label>カラーコードで指定する</label>
                        <input name="led_color" id="led_color" type="text" value="" placeholder="#ffffff">
                    </div>
                </div>
            </div>

            <div class="panel_item">
                <div class="panel_item_content">
                    <div class="panel_item_ttl">
                        <h2>ディスプレイの表示</h2>
                        <p>ディスプレイに表示されている画像・動画を非表示にして、ディスプレイの電源を切ることができます。</p>
                    </div>
                    <div class="flex_container_start upload_item">
                        <div class="upload">
                            <label class="upload_file">
                                ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                                <%= form_with model:@bench_image, local:false do |f| %>
                                <%= f.file_field :image, id:'pdf_file', accept:'image/*,.pdf' %>
                                <%= f.hidden_field :name, id:'pdf_name' %>
                                <%= f.submit "送信", id:"pdf_submit" %>
                                <% end %>
                            </label>
                        </div>
                        <div class="preview">
                            <label>プレビュー</label>
                            <div class="preview_file preview_file_img" id="preview">
                                <% if @bench_image_now %>
                                    <iframe src="<%= @bench_image_now.pdf_url %>" id="preview_image"></iframe>
                                    <%#= image_tag @bench_image_now.image.to_s, id:"preview_image" %>
                                <% else %>
                                    <%= image_tag "/image/wolf.png", id: "preview_dummy", alt: "プレビューファイル" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel_item" id="audio_item">
                <div id="audio_lock"></div>
                <div class="panel_item_content">
                    <div class="panel_item_ttl">
                        <h2>スピーカーの音量調節</h2>
                        <p>IoT機器のスピーカーの音量調節が可能です。●ボタンをスライドさせることで音量を調節することができます。</p>
                    </div>
                    <div>
                        <div id="volume_container">
                            <div id="volume_subcontainer">
                                <div class="volume">現在のボリューム<br><p>0</p></div>
                            </div>
                        </div>
                        <input type="range" value="0" id="volume_input">
                    </div>
                </div>
            </div>

            <div class="panel_item">
                <div class="panel_item_content">
                    <div class="panel_item_ttl">
                        <h2>映像ファイルの表示</h2>
                        <p>IoT機器のモニターに動画を表示することが可能です。シーンに合わせて動画を自由に変更できます。</p>
                    </div>
                    <div class="flex_container_start upload_item">
                        <div class="upload">
                            <label class="upload_file">
                                ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                                <%= form_with model: @bench_video, local:false do |f| %>
                                <%= f.file_field :video, id:'movie_file', accept:'video/*' %>
                                <%= f.hidden_field :name, id:'movie_name' %>
                                <%= f.submit "送信", id:"movie_submit" %>
                                <% end %>
                            </label>
                        </div>
                        <div class="preview">
                            <label>プレビュー</label>
                            <div class="preview_file preview_file_video">
                                <% if @bench_video_now %>
                                <%= video_tag(@bench_video_now.video.to_s, loop: true, autoplay: true, muted: true, controls: true, id:"mp4_preview_video") %>
                                <% else %>
                                <%= image_tag "/image/noimage.jpg", id:"mp4_preview_dummy", alt: "現在何も表示されていません" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel_item">
                <div class="panel_item_content">
                    <div class="panel_item_ttl">
                        <h2>音楽ファイルの再生</h2>
                        <p>IoT機器のスピーカーから音楽を再生することが可能です。シーンに合わせて音楽を自由に変更できます。</p>
                    </div>
                    <div class="flex_container_start upload_item">
                        <div class="upload">
                            <label class="upload_file">
                                ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                                <%= form_with model: @bench_audio, local:false do |f| %>
                                <%= f.hidden_field :name, id:'audio_name' %>
                                <%= f.file_field :audio, :size => 140, id:'audio_file', accept:'audio/mp3' %>
                                <%= f.submit "送信", id:"audio_submit" %>
                                <% end %>
                            </label>
                        </div>
                        <div class="preview">
                            <label>プレビュー</label>
                            <div class="preview_file preview_file_audio">
                                <% if @bench_audio_now %>
                                <div class="form_attachment_preview" id="audio_preview"><%= @bench_audio_now.name %><button type="button" class="delete_cancel_btn">×</button></div>
                                <% else %>
                                <div class="form_attachment_preview" id="audio_preview">default.mp3<button type="button" class="delete_cancel_btn">×</button></div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% if @bench_audio_now %>
                        <audio src= "<%= "#{@bench_audio_now.audio}" %>" controls="" id="audio_player">
                    <% end %>
                </div>
            </div>

            <div class="panel_item">
                <div class="panel_item_content">
                    <div class="panel_item_ttl">
                        <h2>カメラ</h2>
                        <p>IoT機器のカメラを再生することが可能です。</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</main>

<%= javascript_include_tag 'socket.js' %>