<div class="brand-theme">Anti Nihilism Fashion Brand</div>

<div id="cxxsew-contents">
    <div class="article">
        
    </div>        
    <div class="table-name">
        <h1>新規ニュースカテゴリーの作成</h1>
        <div id="flash"><%= flash[:notice] %></div>
        <%= form_with model:@news_cat do |form| %>
            <div class="edit-wrapper">
                <div class="tr edit-tr">
                    <div class="td edit-td">NAME</div>
                    <div class="td edit-td"><%= form.text_field :name, class:"form", required: true %></div>
                </div>
                <%= form.submit "作成", class:"btn" %>
            </div>
        <% end %>
        <div class="btn"><a href="/admin_view?which=news_cat">一覧に戻る</a></div>
        <div class="btn" id="submit-btn"><a href="/admin">管理画面トップへ</a></div>
    </div>
</div>



<%= javascript_pack_tag 'image_up' %>