<main id="portrait-back">
    <div id="portrait-back-cover"></div>
    <div class="contents" id="portrait-con">
        <h1>似顔絵展</h1>
        <div class="article" id="portrait-article">
            <p class="center">友人の好きなものに合わせたバースデーカードなど似顔絵イラストのポートフォリオです。</p>
        </div>
        <div class="works pfs">
                <%= image_tag "/image/portrait01.PNG", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait02.PNG", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait03.PNG", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait04.jpeg", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait05.PNG", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait06.PNG", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait07.jpeg", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait08.PNG", class:"main-photo portrait", alt:"" %>
                <%= image_tag "/image/portrait09.PNG", class:"main-photo portrait", alt:"" %>
            </div>
        </div>
    </div>
</main>