<% @posts.each do |post| %>
    <div class="work sns-post">
        <div class="thumb-wrapper">
            <div class="post-name-wrapper">
                <%= image_tag post.user.image.url, class:"sns-thumb", alt:"" %>
                <p><%= post.user.name %></p>
                <p><%= post.user.username %></p>
            </div>
            <div class="follow-wrapper">
                <% if logged_in? %>
                    <% if post.user_id != current_user.id %>
                        <%#= debug post.user.active_relationships %>
                        <% if post.user.followed_by?(current_user) %>
                            <% delete_id = post.user.active_relationships.find_by(followed_id: post.user_id).id %>
                            <%= form_with model:@relationship, url: "/relationships/"+delete_id.to_s, method: :delete do |form| %>
                                <%= form.submit "フォロー解除", class:"follow-btn" %>
                            <% end %>
                        <% else %>
                            <%= form_with model:@relationship, url: relationships_path, method: :post, scope: :relationship do |form| %>
                                <%= form.hidden_field :follower_id, value: current_user.id %>
                                <%= form.hidden_field :followed_id, value: post.user_id %>
                                <%= form.submit "フォロー", class:"follow-btn" %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <a href="/posts/<%= post.id %>">
            <p><%= post.content %></p>
            <% if post.image.to_s != 'noimage.jpg' %>
                <%= image_tag post.image.url, class:"sns-post-img", alt:"" %>
            <% end %>
        </a>
        <% if logged_in? %>
            <% if post.user != current_user && post.liked_by?(current_user) %>
                <p id="delete-like"><%=link_to '❤︎', post_likes_path(post.id), method: :delete, remote: true %><span><%= post.likes.count %></span></p>
            <% elsif post.user != current_user %>
                <p id="post-like"><%=link_to '♡', post_likes_path(post.id), method: :post, remote: true %><span><%= post.likes.count %></span></p>
            <% end %>

            <p>コメント投稿数</p>
            <p><%= post.comments.count %></p>
        <% else %>
            <p>♡: <%= post.likes.count %> コメント: <%= post.comments.count %></p>
        <% end %>
    </div>
<% end %>