<div id="loading-wrapper">
<% @posts.each do |post| %>
    <div class="work sns-post">
        <div class="posted-post-id"><%= post.id %></div>
        <div class="thumb-wrapper">
            <% if logged_in? %>
                <a href="/posted/<%= post.user.id %>" class="sns-users-link">
                    <div class="post-name-wrapper">
                        <%= image_tag post.user.image.url, class:"sns-thumb", alt:"" %>
                        <p class="posts-user-name"><%= post.user.name %></p>
                        <p><%= post.user.username %></p>
                    </div>
                </a>
            <% else %>
                <a href="/login" class="sns-users-link">
                    <div class="post-name-wrapper">
                        <%= image_tag post.user.image.url, class:"sns-thumb", alt:"" %>
                        <p class="posts-user-name"><%= post.user.name %></p>
                        <p><%= post.user.username %></p>
                    </div>
                </a>
            <% end %>
            <div class="follow-wrapper" id="posts-relationships">
                <% if logged_in? %>
                    <% if post.user_id != current_user.id %>
                        <% if post.user.followed_by?(current_user) %>
                            <% delete_id = post.user.active_relationships.find_by(follower_id: current_user.id).id %>
                            <%= form_with model:@relationship, url: "/relationships/"+delete_id.to_s, local: false, method: :delete do |form| %>
                                <%= form.hidden_field :url, value: "/posts", class:'relationship_url' %>
                                <%= form.submit "フォロー解除", class:"follow-btn" %>
                            <% end %>
                        <% else %>
                            <%= form_with model:@relationship, url: relationships_path, local: false, method: :post, scope: :relationship do |form| %>
                                <%= form.hidden_field :follower_id, value: current_user.id %>
                                <%= form.hidden_field :followed_id, value: post.user_id %>
                                <%= form.hidden_field :url, value: "/posts", class:'relationship_url' %>
                                <%= form.submit "フォロー", class:"follow-btn" %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <a href="/posts/<%= post.id %>">
            <p><%= post.content %></p>
            <% if post.image.to_s != 'noimage.jpg' %>
                <%= image_tag post.image.url, class:"sns-post-img", alt:"" %>
            <% end %>
        </a>
        <% if logged_in? %>
            <div class="like-com-wrapper">
                <% if post.liked_by?(current_user) %>
                    <div class="sns-like-com" id="delete-like"><%=link_to '❤︎', post_likes_path(post.id, url: 'index'), method: :delete, remote: true, class:"like-link" %></div><div><%= post.likes.count %></div>
                <% else %>
                    <div class="sns-like-com" id="post-like"><%=link_to '♡', post_likes_path(post.id, url: 'index'), method: :post, remote: true, class:"like-link" %></div><div><%= post.likes.count %></div>
                <% end %>
                <div class="sns-like-com"><%= image_tag '/image/comment.jpeg', class:"icon" %></div><div><%= post.comments.count %></div>
            </div>
        <% else %>
            <div class="like-com-wrapper">
                <div class="sns-like-com">♡</div><div><%= post.likes.count %></div>
                <div class="sns-like-com"><%= image_tag '/image/comment.jpeg', class:"icon" %></div><div><%= post.comments.count %></div>
            </div>
        <% end %>
    </div>
<% end %>
</div>