<!DOCTYPE html>
<html>
  <head>
    <title>Doraemon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <meta name="turbolinks-visit-control" content="reload"> %>
  </head>

  <body>
    <%= render 'examples/header' %>
    <%= yield %>
    <%= render 'examples/footer' %>
  </body>
</html>