<!DOCTYPE html>
<html>
  <head>
    <title>CxxSew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <meta name="turbolinks-visit-control" content="reload"> %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <%= render 'main/header' %>
    <main id="cxxsew-main">
      <%= yield %>
    </main>
    <%= render 'main/footer' %>
    <%= javascript_pack_tag 'common' %>
  </body>
</html>
